Flask==3.0.3
flask-cors==4.0.0
gunicorn
landingai==0.3.49
pillow
python-dotenv
requests>=2.32
PyJWT==2.8.0
bcrypt==4.1.2
python-dotenv==1.0.0
- fish-identification @ git+https://github.com/fishial/fish-identification.git